$darkgrey: #3a3a3a;
$lightgrey: #C7C7C7;
$serif: 'Prata', serif;
$sans-serif: 'Lato';
body{
    margin: 0;
    font-family:$sans-serif;

    .headline{
        color: $darkgrey;
        font-family: $sans-serif;
        font-weight: 900;
        font-size: 2.8em;
        line-height: 1.4em;
        @media(max-width: 850px){
            font-size: 2em;
        }
    }

    .intro-container{
        margin-bottom: 6em;
        @media(max-width: 850px){
            margin: 3em 0;
        }
    }

    .dateline,.byline{
    font-size: 1.1em;
    }

    .dateline{
        font-style: italic
    }

    .head-container.hide-mobile {
        text-align: left;
        position: absolute;
        max-width: 350px;
        width: 30%;
        bottom: 100px;
        left: 30px;
        @media(max-width: 850px){
            display: none;
        }
    }
    .head-container.hide-desktop{
        @media(max-width: 850px){
            display: block;
            text-align: center;
            width: 90%;
            margin: 1em auto 1em auto;
        }
        @media(max-width: 600px){
            margin-top: 0;
        }
    }

    .lead-container{
        position: relative;
    }

    .leadimg{
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-position: right center;
        overflow: hidden;
        @media(max-width: 1200px){
            background-position: 300%;
        }
        @media(max-width: 1000px){
            background-position: -200%;
        }
        @media(max-width: 850px){
            background-position: left;
            background-size: 150%;
            height: 600px;
        }
        @media(max-width: 800px){
            background-position: left;
            background-size: 150%;
            height: 550px;
        }
        @media(max-width: 600px){
            height: 420px;
        }
        @media(max-width: 500px){
            height: 380px;
        }
        @media(max-width: 400px){
            height: 300px;
        }
    }

    .hide-desktop{
        display: none;
    }

    .intro-text{
        width: 90%;
        max-width: 550px;
        padding-top: 5em;
        text-align: center;
        margin: 1em auto 2em auto;
        font-size: 1.1em;
        line-height: 1.4em;
        @media(max-width: 850px){
            padding-top: 0;
        }
    }

    .stopwatch{
        position: fixed;
        right: 40px;
        text-align: center;
        padding: 1em 2em;
        background-color: rgba(255,255,255, 0.8);
        color: $darkgrey;
        border-radius: 5px;
        opacity: 1;
        .time{
            font-size: 2em;
        }
    }

    .legend{
        text-align: center;
        margin-top: -30px;
        .key{
            display: inline-block;
                margin-right: 4em;
            p{
                display: inline-block;
                vertical-align: middle;
            }

            .legend-box{
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 0.5em;
                vertical-align: middle;
                @media(max-width: 900px){
                width: 12px;
                height: 12px;
                }
            }
        }
        .key:last-child{
            margin-right: 0;
        }
        @media(max-width: 900px){
            margin-top: -50px;
            text-align: left;
            padding-left: 1em;
            font-size: 0.8em;
            .key{
                margin: -10px 1em 0 0;
                margin-right: 1em;
                margin-bottom: 0.5em;
            }
        }
    }
    .x.axis{
        .tick{
            display: none
        }
    }

    .y.axis{
        path.domain{
            display: none;
        }
        .tick{
            font-size: 1.4em;
            text{
                fill: $lightgrey;
            }
            line{
                stroke: #EDEDED!important;
            }
        }
    }
    .finish-line-text{
        fill: $lightgrey;
        font-size: 1.5em
    }
    .button{
        border: 2px solid $darkgrey;
        padding: 0.7em 0.5em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        font-size: 1.2em;
        background-color: $darkgrey;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover{
        color: $darkgrey;
        background-color: white;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: $lightgrey;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }

    line.x.axis ,.x.axis path, line.finish-line.axis {
        stroke-width: 2;
        stroke: $lightgrey;
    }

    .stepper-container{
        background-color: rgba(255,255,255,0.9);
        padding: 1em;
        position: fixed;
        top: 10px;
        left: 70px;
        width: 350px;
        border-radius: 5px;
        opacity: 0;
        .progress-step{
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: solid 1px $darkgrey;
            margin-right: 0.8em;
        }
        .text{
            margin: 1em 0;
            line-height: 1.8em;
        }
        .progress-button{
            background-color: black;
            color: white;
            border: solid 1px black;
            padding: 0.3em;
            border-radius: 5px;
            text-align: center;
            width: 80px;
        }
        .progress-button:hover{
            border-color: black;
            background-color: white;
            color: black;
            cursor: pointer;
        }
        .progress-active.progress-step{
            background-color: $darkgrey
        }

        @media(max-width: 800px){
            max-width: 500px;
            left: 10px;
            top: 0;
            width: 80%;
            min-height: 180px;
            z-index: -1;
        }
    }
}